//- .footer__copy.footer-bottom-block 
//-     p © 2008-2019 BOSTON Creative House. Всі права захищені. 
//-     a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer__link.develop-link    Розработка сайта
//-         img(src='./assets/images/smarto.svg' alt="" title="")