extends ../layout/main
block meta
    title= 'Kyivproject City Space'
    meta(name='description', content='')
block head
        link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts

    script(src='./assets/scripts/anim.js')
    script(src='./assets/scripts/functions-and-lang.js')
    script(src='./assets/scripts/index.js')
block content
    //- .degub-grid
    //-     div
    //-         div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    //-             div
    .layout
        .first-screen-left
            //- +img('temp-page/logo.svg')
            <svg class="logo" width="100%" height="100%" viewBox="0 0 276 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M45.4411 9.79126H0.0825195V100.618H45.4411V9.79126Z" fill="#02996D"/>
                <path d="M45.4411 55.3148H0.0825195V100.728H45.4411V55.3148Z" fill="#FBC502"/>
                <path d="M45.441 100.811H90.7996L45.441 55.3972V100.811Z" fill="black"/>
                <path d="M96.0227 32.5256C96.0227 45.0611 85.8789 55.2324 73.3434 55.2324C60.8079 55.2324 50.6641 45.0611 50.6641 32.5256C50.6641 19.9902 60.8079 9.81884 73.3434 9.81884C85.8514 9.79135 96.0227 19.9627 96.0227 32.5256Z" fill="#FB393E"/>
                <path d="M45.3586 55.3148C45.3586 30.2164 25.0434 9.90125 0 9.90125V55.3148H45.3586Z" fill="#0165FB"/>
                <g class="logo-title-js">
                    <path d="M183.386 4.04587C183.386 6.1626 181.682 7.89448 179.565 7.89448C177.448 7.89448 175.744 6.19009 175.744 4.04587C175.744 1.92914 177.448 0.197266 179.565 0.197266C181.682 0.197266 183.386 1.90165 183.386 4.04587Z" fill="black"/>
                    <path d="M192.238 4.04587C192.238 6.1626 190.533 7.89448 188.417 7.89448C186.3 7.89448 184.596 6.19009 184.596 4.04587C184.596 1.92914 186.3 0.197266 188.417 0.197266C190.506 0.197266 192.238 1.90165 192.238 4.04587Z" fill="black"/>
                    <path d="M126.619 10.0662H134.069V23.234H134.151L142.398 10.0662H150.206L140.557 24.6359L150.838 39.2881H142.123L134.151 26.6702H134.069V39.2881H126.619V10.0662Z" fill="black"/>
                    <path d="M167.882 28.677V39.2881H160.404V28.677L151.69 10.0662H159.8L164.116 21.8045L168.514 10.0662H176.514L167.882 28.677Z" fill="black"/>
                    <path d="M187.702 10.0662H180.252V39.2881H187.702V10.0662Z" fill="black"/>
                    <path d="M208.952 39.2881H201.282L191.523 10.0662H199.193L205.048 30.5738H205.131L211.041 10.0662H218.738L208.952 39.2881Z" fill="black"/>
                    <path d="M145.505 66.6132C142.976 68.8124 140.254 69.1423 136.983 69.1423H133.739V78.2965H126.592V49.0746H136.131C139.127 49.0746 142.728 49.1845 145.12 51.2188C147.402 53.1431 148.556 55.9471 148.556 58.971C148.584 61.6375 147.567 64.7989 145.505 66.6132ZM136.516 55.6447H133.767V62.5997H136.79C139.237 62.5997 141.436 62.0499 141.436 59.081C141.436 56.0296 138.962 55.6447 136.516 55.6447Z" fill="black"/>
                    <path d="M165.93 78.2965L159.195 68.8674H159.112V78.2965H151.965V49.0746H161.202C164.28 49.0746 167.662 49.1571 170.191 51.1638C172.61 53.0881 173.792 56.112 173.792 59.1359C173.792 63.6443 171.153 67.5754 166.535 68.3451L174.452 78.2965H165.93ZM161.834 55.6447H159.112V63.7818H161.751C164.555 63.7818 166.645 62.5997 166.645 59.6033C166.645 56.7168 164.39 55.6447 161.834 55.6447Z" fill="black"/>
                    <path d="M191.798 78.8463C183.551 78.8463 176.459 72.4411 176.459 64.0291C176.459 61.8574 176.816 59.7957 177.613 57.7889C178.053 56.6343 178.768 55.5072 179.51 54.5176C182.506 50.559 186.877 48.5247 191.853 48.5247C200.375 48.5247 207.275 55.0674 207.275 63.6992C207.275 72.3311 200.375 78.8463 191.798 78.8463ZM191.88 55.0949C187.097 55.0949 183.908 59.0534 183.908 63.6168C183.908 68.2901 187.097 72.3036 191.963 72.3036C196.664 72.3036 199.798 68.2076 199.798 63.7267C199.825 59.1909 196.664 55.0949 191.88 55.0949Z" fill="black"/>
                    <path d="M210.106 78.2965V49.0746H226.325V55.6447H217.254V60.1806H226.051V66.7232H217.254V71.7539H226.325V78.2965H210.106Z" fill="black"/>
                    <path d="M246.778 78.2965L238.806 65.6786H238.723V78.2965H231.274V49.0746H238.723V62.2423H238.806L247.053 49.0746H254.86L245.211 63.6443L255.492 78.2965H246.778Z" fill="black"/>
                    <path d="M270.282 55.6447V78.2965H262.832V55.6447H257.059V49.0746H276V55.6447H270.282Z" fill="black"/>
                    <path d="M128.571 98.8315C127.334 97.6495 126.729 96.165 126.729 94.3507C126.729 92.5363 127.334 91.0519 128.543 89.8698C129.78 88.7152 131.32 88.1379 133.189 88.1379C134.371 88.1379 135.416 88.3853 136.351 88.8801V91.3542C135.443 90.7495 134.399 90.4471 133.217 90.4471C132.062 90.4471 131.127 90.8319 130.385 91.5467C129.643 92.2889 129.258 93.1961 129.258 94.3507C129.258 95.5052 129.643 96.4399 130.413 97.1546C131.182 97.8969 132.145 98.2542 133.327 98.2542C134.619 98.2542 135.718 97.9244 136.598 97.2096V99.6837C135.636 100.261 134.509 100.563 133.217 100.563C131.32 100.563 129.78 99.9861 128.571 98.8315Z" fill="black"/>
                    <path d="M141.381 88.3853H138.935V100.316H141.381V88.3853Z" fill="black"/>
                    <path d="M143.443 88.3853H153.449V90.5845H149.656V100.316H147.209V90.5845H143.443V88.3853Z" fill="black"/>
                    <path d="M158.837 100.316V94.9829L154.219 88.3853H157.133L160.074 92.6462L163.071 88.3853H165.875L161.284 94.9279V100.316H158.837Z" fill="black"/>
                    <path d="M171.428 99.2989V96.7423C171.923 97.1821 172.582 97.5395 173.407 97.8694C174.232 98.1718 175.057 98.3367 175.854 98.3367C177.146 98.3367 178.163 97.8694 178.163 96.9622C178.163 96.5499 177.97 96.165 177.558 95.9726C177.338 95.8351 177.228 95.7801 176.871 95.6702L176.459 95.5327L175.496 95.2303L174.617 94.928C174.452 94.873 174.177 94.763 173.819 94.6256C173.462 94.4881 173.215 94.3782 173.05 94.2682C172.72 94.0483 172.143 93.6359 171.923 93.2236C171.73 92.8112 171.51 92.2339 171.51 91.5467C171.51 90.5021 171.923 89.6499 172.72 89.0451C173.517 88.4403 174.617 88.1379 176.019 88.1379C177.393 88.1379 178.713 88.4678 179.922 89.1276V91.5192C178.713 90.777 177.421 90.3921 176.046 90.3921C174.699 90.3921 174.012 90.777 174.012 91.5742C174.012 91.959 174.259 92.2064 174.644 92.3989C174.864 92.5088 175.304 92.6738 175.606 92.7562C175.936 92.8387 176.541 93.0036 176.898 93.1411C178.053 93.4985 178.685 93.8283 179.482 94.3781C180.28 94.928 180.665 95.7801 180.665 96.8797C180.665 98.0343 180.225 98.914 179.317 99.6013C178.41 100.261 177.283 100.591 175.936 100.591C174.149 100.563 172.637 100.151 171.428 99.2989Z" fill="black"/>
                    <path d="M182.891 100.316V88.3853H188.114C189.379 88.3853 190.423 88.7151 191.138 89.4024C191.88 90.0621 192.265 90.9143 192.265 91.9865C192.265 93.0586 191.88 93.9382 191.138 94.598C190.396 95.2578 189.379 95.6151 188.114 95.6151H185.365V100.343H182.891V100.316ZM185.338 93.4984H187.922C189.104 93.4984 189.791 92.9761 189.791 92.0139C189.791 91.0518 189.104 90.5295 187.922 90.5295H185.338V93.4984Z" fill="black"/>
                    <path d="M192.045 100.316L197.159 88.3029H199.495L204.608 100.316H201.997L200.815 97.5395H195.784L194.602 100.316H192.045ZM196.581 95.5328H200.072L198.341 91.3818L196.581 95.5328Z" fill="black"/>
                    <path d="M206.972 98.8315C205.735 97.6495 205.131 96.165 205.131 94.3507C205.131 92.5363 205.735 91.0519 206.945 89.8698C208.182 88.7152 209.721 88.1379 211.563 88.1379C212.745 88.1379 213.79 88.3853 214.725 88.8801V91.3542C213.817 90.7495 212.773 90.4471 211.591 90.4471C210.436 90.4471 209.502 90.8319 208.759 91.5467C208.017 92.2889 207.632 93.1961 207.632 94.3507C207.632 95.5052 208.017 96.4399 208.787 97.1546C209.557 97.8969 210.519 98.2542 211.701 98.2542C212.993 98.2542 214.092 97.9244 214.972 97.2096V99.6837C214.01 100.261 212.883 100.563 211.591 100.563C209.721 100.563 208.182 99.9861 206.972 98.8315Z" fill="black"/>
                    <path d="M217.226 100.316V88.3853H225.996V90.5845H219.7V92.8936H224.759V95.0653H219.7V98.1167H226.188V100.316H217.226Z" fill="black"/>
                </g>
            </svg>
            form.first-screen_form.wow.swing-in-top-fwd(data-wow-delay="1.5s")
            +img('temp-page/left-bottom-cubes.svg').left-bottom-pattern.wow.fadeIn(data-wow-delay="1s")
        .first-screen-right
            #SDStudio_VIDEO_BACKGROUND
                <video autoplay="true" loop="true" muted="muted" id="myVideo" poster="./assets/images/temp-page/bg.png">
                    <source type="video/mp4" src="./assets/video/video.mp4" media="(orientation:landscape)">
                    <source type="video/webm" src="/video/video.mp4" media="(orientation:landscape)">
                    //- <source type="video/webm" src="/video/Boston_2.webm" media="(orientation:portrait)">
                    <source type="video/mp4" src="./assets/video/video.mp4"    media="(orientation:portrait)">
                    //- <source type="video/webm" src="/video/BOSTON_Creative_House.webm"      media="(orientation:portrait)">
                </video>
            +img('temp-page/right-top-cubes.svg').right-top-pattern.wow.fadeIn(data-wow-delay="1s")
            <svg class="logo-mob wow fadeIn" width="100%" height="100%" viewBox="0 0 276 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M45.4411 9.79126H0.0825195V100.618H45.4411V9.79126Z" fill="#02996D"/>
                <path d="M45.4411 55.3148H0.0825195V100.728H45.4411V55.3148Z" fill="#FBC502"/>
                <path d="M45.441 100.811H90.7996L45.441 55.3972V100.811Z" fill="black"/>
                <path d="M96.0227 32.5256C96.0227 45.0611 85.8789 55.2324 73.3434 55.2324C60.8079 55.2324 50.6641 45.0611 50.6641 32.5256C50.6641 19.9902 60.8079 9.81884 73.3434 9.81884C85.8514 9.79135 96.0227 19.9627 96.0227 32.5256Z" fill="#FB393E"/>
                <path d="M45.3586 55.3148C45.3586 30.2164 25.0434 9.90125 0 9.90125V55.3148H45.3586Z" fill="#0165FB"/>
                <path d="M183.386 4.04587C183.386 6.1626 181.682 7.89448 179.565 7.89448C177.448 7.89448 175.744 6.19009 175.744 4.04587C175.744 1.92914 177.448 0.197266 179.565 0.197266C181.682 0.197266 183.386 1.90165 183.386 4.04587Z" fill="black"/>
                <path d="M192.238 4.04587C192.238 6.1626 190.533 7.89448 188.417 7.89448C186.3 7.89448 184.596 6.19009 184.596 4.04587C184.596 1.92914 186.3 0.197266 188.417 0.197266C190.506 0.197266 192.238 1.90165 192.238 4.04587Z" fill="black"/>
                <path d="M126.619 10.0662H134.069V23.234H134.151L142.398 10.0662H150.206L140.557 24.6359L150.838 39.2881H142.123L134.151 26.6702H134.069V39.2881H126.619V10.0662Z" fill="black"/>
                <path d="M167.882 28.677V39.2881H160.404V28.677L151.69 10.0662H159.8L164.116 21.8045L168.514 10.0662H176.514L167.882 28.677Z" fill="black"/>
                <path d="M187.702 10.0662H180.252V39.2881H187.702V10.0662Z" fill="black"/>
                <path d="M208.952 39.2881H201.282L191.523 10.0662H199.193L205.048 30.5738H205.131L211.041 10.0662H218.738L208.952 39.2881Z" fill="black"/>
                <path d="M145.505 66.6132C142.976 68.8124 140.254 69.1423 136.983 69.1423H133.739V78.2965H126.592V49.0746H136.131C139.127 49.0746 142.728 49.1845 145.12 51.2188C147.402 53.1431 148.556 55.9471 148.556 58.971C148.584 61.6375 147.567 64.7989 145.505 66.6132ZM136.516 55.6447H133.767V62.5997H136.79C139.237 62.5997 141.436 62.0499 141.436 59.081C141.436 56.0296 138.962 55.6447 136.516 55.6447Z" fill="black"/>
                <path d="M165.93 78.2965L159.195 68.8674H159.112V78.2965H151.965V49.0746H161.202C164.28 49.0746 167.662 49.1571 170.191 51.1638C172.61 53.0881 173.792 56.112 173.792 59.1359C173.792 63.6443 171.153 67.5754 166.535 68.3451L174.452 78.2965H165.93ZM161.834 55.6447H159.112V63.7818H161.751C164.555 63.7818 166.645 62.5997 166.645 59.6033C166.645 56.7168 164.39 55.6447 161.834 55.6447Z" fill="black"/>
                <path d="M191.798 78.8463C183.551 78.8463 176.459 72.4411 176.459 64.0291C176.459 61.8574 176.816 59.7957 177.613 57.7889C178.053 56.6343 178.768 55.5072 179.51 54.5176C182.506 50.559 186.877 48.5247 191.853 48.5247C200.375 48.5247 207.275 55.0674 207.275 63.6992C207.275 72.3311 200.375 78.8463 191.798 78.8463ZM191.88 55.0949C187.097 55.0949 183.908 59.0534 183.908 63.6168C183.908 68.2901 187.097 72.3036 191.963 72.3036C196.664 72.3036 199.798 68.2076 199.798 63.7267C199.825 59.1909 196.664 55.0949 191.88 55.0949Z" fill="black"/>
                <path d="M210.106 78.2965V49.0746H226.325V55.6447H217.254V60.1806H226.051V66.7232H217.254V71.7539H226.325V78.2965H210.106Z" fill="black"/>
                <path d="M246.778 78.2965L238.806 65.6786H238.723V78.2965H231.274V49.0746H238.723V62.2423H238.806L247.053 49.0746H254.86L245.211 63.6443L255.492 78.2965H246.778Z" fill="black"/>
                <path d="M270.282 55.6447V78.2965H262.832V55.6447H257.059V49.0746H276V55.6447H270.282Z" fill="black"/>
                <path d="M128.571 98.8315C127.334 97.6495 126.729 96.165 126.729 94.3507C126.729 92.5363 127.334 91.0519 128.543 89.8698C129.78 88.7152 131.32 88.1379 133.189 88.1379C134.371 88.1379 135.416 88.3853 136.351 88.8801V91.3542C135.443 90.7495 134.399 90.4471 133.217 90.4471C132.062 90.4471 131.127 90.8319 130.385 91.5467C129.643 92.2889 129.258 93.1961 129.258 94.3507C129.258 95.5052 129.643 96.4399 130.413 97.1546C131.182 97.8969 132.145 98.2542 133.327 98.2542C134.619 98.2542 135.718 97.9244 136.598 97.2096V99.6837C135.636 100.261 134.509 100.563 133.217 100.563C131.32 100.563 129.78 99.9861 128.571 98.8315Z" fill="black"/>
                <path d="M141.381 88.3853H138.935V100.316H141.381V88.3853Z" fill="black"/>
                <path d="M143.443 88.3853H153.449V90.5845H149.656V100.316H147.209V90.5845H143.443V88.3853Z" fill="black"/>
                <path d="M158.837 100.316V94.9829L154.219 88.3853H157.133L160.074 92.6462L163.071 88.3853H165.875L161.284 94.9279V100.316H158.837Z" fill="black"/>
                <path d="M171.428 99.2989V96.7423C171.923 97.1821 172.582 97.5395 173.407 97.8694C174.232 98.1718 175.057 98.3367 175.854 98.3367C177.146 98.3367 178.163 97.8694 178.163 96.9622C178.163 96.5499 177.97 96.165 177.558 95.9726C177.338 95.8351 177.228 95.7801 176.871 95.6702L176.459 95.5327L175.496 95.2303L174.617 94.928C174.452 94.873 174.177 94.763 173.819 94.6256C173.462 94.4881 173.215 94.3782 173.05 94.2682C172.72 94.0483 172.143 93.6359 171.923 93.2236C171.73 92.8112 171.51 92.2339 171.51 91.5467C171.51 90.5021 171.923 89.6499 172.72 89.0451C173.517 88.4403 174.617 88.1379 176.019 88.1379C177.393 88.1379 178.713 88.4678 179.922 89.1276V91.5192C178.713 90.777 177.421 90.3921 176.046 90.3921C174.699 90.3921 174.012 90.777 174.012 91.5742C174.012 91.959 174.259 92.2064 174.644 92.3989C174.864 92.5088 175.304 92.6738 175.606 92.7562C175.936 92.8387 176.541 93.0036 176.898 93.1411C178.053 93.4985 178.685 93.8283 179.482 94.3781C180.28 94.928 180.665 95.7801 180.665 96.8797C180.665 98.0343 180.225 98.914 179.317 99.6013C178.41 100.261 177.283 100.591 175.936 100.591C174.149 100.563 172.637 100.151 171.428 99.2989Z" fill="black"/>
                <path d="M182.891 100.316V88.3853H188.114C189.379 88.3853 190.423 88.7151 191.138 89.4024C191.88 90.0621 192.265 90.9143 192.265 91.9865C192.265 93.0586 191.88 93.9382 191.138 94.598C190.396 95.2578 189.379 95.6151 188.114 95.6151H185.365V100.343H182.891V100.316ZM185.338 93.4984H187.922C189.104 93.4984 189.791 92.9761 189.791 92.0139C189.791 91.0518 189.104 90.5295 187.922 90.5295H185.338V93.4984Z" fill="black"/>
                <path d="M192.045 100.316L197.159 88.3029H199.495L204.608 100.316H201.997L200.815 97.5395H195.784L194.602 100.316H192.045ZM196.581 95.5328H200.072L198.341 91.3818L196.581 95.5328Z" fill="black"/>
                <path d="M206.972 98.8315C205.735 97.6495 205.131 96.165 205.131 94.3507C205.131 92.5363 205.735 91.0519 206.945 89.8698C208.182 88.7152 209.721 88.1379 211.563 88.1379C212.745 88.1379 213.79 88.3853 214.725 88.8801V91.3542C213.817 90.7495 212.773 90.4471 211.591 90.4471C210.436 90.4471 209.502 90.8319 208.759 91.5467C208.017 92.2889 207.632 93.1961 207.632 94.3507C207.632 95.5052 208.017 96.4399 208.787 97.1546C209.557 97.8969 210.519 98.2542 211.701 98.2542C212.993 98.2542 214.092 97.9244 214.972 97.2096V99.6837C214.01 100.261 212.883 100.563 211.591 100.563C209.721 100.563 208.182 99.9861 206.972 98.8315Z" fill="black"/>
                <path d="M217.226 100.316V88.3853H225.996V90.5845H219.7V92.8936H224.759V95.0653H219.7V98.1167H226.188V100.316H217.226Z" fill="black"/>
                <path d="M217.226 100.316V88.3853H225.996V90.5845H219.7V92.8936H224.759V95.0653H219.7V98.1167H226.188V100.316H217.226Z" fill="black"/>
            </svg>
            .developers-block 
                +img('temp-page/perfect.svg').perfect-logo.wow.fadeInLeft(data-wow-delay="1s")
                +img('temp-page/saga.svg').saga-logo.wow.fadeIn(data-wow-delay="1s")
                +img('temp-page/kyivproject.svg').wow.kyivproject-logo.fadeInRight(data-wow-delay="1s")
            +img('temp-page/triangle-pattern.svg').triangle-pattern
block footer
block header
    header.header
        include ../includes/header.pug

