$default-font: "museo",
sans-serif;
$default-font2: "museo",
sans-serif;
$text-color: #8A8A8A;
$text-color-white:#FDFBF9;
$mc-white: #FDFBF9;
$mc-yellow-light:#FAF5E4;
$mc-gray: #4C4C4E;
$mc-gray-light: #8A8A8A;
$mc-yellow:#F8B400;
$mc-orange:#FCBF02;
$mc-black :#000;
$mc-green:#004445;
$fz-standart: 18px;
$fz-tab-standart: 18px;
$fz-mob-standart: 16px;
$fz-large:40px;
$fz-small:14px;
$offset-desktop: 45px;

/*OLD VARIABLES*/

$mc: #FF1E3C;
$mc2: #FF554C;
$mc3: #E5DF06;
$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;