:root {
    --standart-transition: 1s;
}

// @mixin debug($background, $outline) {
//     height: 100vh;
//     position: fixed;
//     width: 100vw;
//     pointer-events: none;
//     // display: none;
//     >div {
//         height: inherit;
//         @include wrapper();
//         >div {
//             height: inherit;
//             @include row-flex();
//             >div {
//                 @include col();
//                 @include size(1);
//                 @include size-sm(1);
//                 @include size-mob(1);
//                 height: inherit;
//                 outline: $outline;
//                 background: $background;
//             }
//         }
//     }
// }
.degub-grid {
    @include debug(rgba(0, 0, 0, 0.3), 1px solid #ff0);
    z-index: 1000000;
    pointer-events: none;
    top: 0;
    left: 0;
}

.title {
    font-size: $fz-large;
    font-weight: bold;
    line-height: 1.25em;
    &_white {
        color: $mc-white;
    }
    &_green {
        color: $mc-green;
    }
    &_gray {
        color: $mc-gray;
    }
}

.text {
    font-size: $fz-standart;
    line-height: 1.55em;
    &_white {
        color: $mc-white;
    }
    &_green {
        color: $mc-green;
    }
    &_gray {
        color: $mc-gray;
    }
}

.page__content {
    @include fields($offset-desktop);
}

.logo-block {
    width: 40%;
}

.header-block {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    @include size(7);
    height: 120px;
    background: $mc-yellow;
    padding-bottom: 35px;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 70% 100%);
    padding-left: 22%;
    padding-right: 60px;
    padding-top: 21px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 68%, 70% 100%);
    display: flex;
    flex-wrap: wrap;
    &__tel {
        font-size: 30px;
        color: $mc-white;
        font-weight: bold;
        // line-height: 1.86em;
        line-height: 1em;
        text-decoration: none;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }
    &__tel-title {
        font-size: $fz-small;
        line-height: 1.6em;
        font-weight: normal;
        color: $mc-green;
        text-decoration: underline;
    }
    &__tel-title:before {
        content: url(../images/common/tel-icon.svg);
        margin-right: 6px;
    }
}

.lang-block {
    width: 40px;
    color: $mc-green;
    cursor: pointer;
    transition: var(--standart-transition);
    max-height: 22px;
    overflow: hidden;
    position: relative;
    padding-right: 9px;
    margin-left: auto;
    margin-top: 13px;
    font-size: $fz-small;
    & a {
        display: block;
    }
    &__innactive {
        font-size: 10px;
        line-height: 1em;
        visibility: hidden;
        opacity: 0;
        transition: var(--standart-transition);
    }
    &:after {
        content: url(../images/common/white-arrow.svg);
        position: absolute;
        right: 1px;
        width: 5px;
        top: 0;
        transition: var(--standart-transition);
    }
    &:hover {
        overflow: visible;
    }
    &:hover::after {
        transform-origin: center;
        transform: rotate(-180deg);
    }
    &:hover &__innactive {
        visibility: visible;
        opacity: 1;
    }
}

.first-screen-layout {
    width: 100vw;
    height: calc(100vh);
    overflow: hidden;
    margin-left: -$offset-desktop;
    position: relative;
    transition: .1s;
    // z-index: -1;
}

.first-screen-layout[data-screen="1"] {
    background: linear-gradient(90deg, #1A1919 0%, rgba(26, 25, 25, 0) 40%), url(../images/screen1/bg.png) top left no-repeat;
    background-size: cover;
}

.first-screen-layout[data-screen="2"] {
    background: url(../images/screen2/bg.png) center no-repeat;
    background-size: cover;
}

.first-screen-layout[data-screen="3"] {
    background: url(../images/screen3/bg.png) top left no-repeat;
    background-size: cover;
}

.first-screen-layout[data-screen="6"] {
    background: linear-gradient(0deg, rgba(26, 25, 25, 0.08) 0%, rgba(0, 0, 0, 0.65) 0%), url(../images/screen5/main.png) top left no-repeat;
    background-size: cover;
}

.first-screen-layout[data-screen="7"] {
    background: url(../images/screen7.png) top left no-repeat;
    background-size: cover;
}

.first-screen-layout[data-screen="8"] {
    background: url(../images/screen8/bg-blur.png) top left no-repeat;
    background-size: cover;
}

.first-screen-layout[data-screen="9"] {
    background: url(../images/screen9/bg.png) top left no-repeat;
    background-size: cover;
}

.bottom-static-block {
    @include size(5.5);
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: calc(50vw - 250px);
    background: $mc-orange;
    transition: var(--standart-transition);
    max-width: 600px;
    overflow: hidden;
    &__screen2 {
        transform: translateY(-1000%);
        text-decoration: underline;
        padding-left: 26px;
        position: relative;
    }
    &__screen2:before {
        content: url(../images/screen2/heart.svg);
        width: 17px;
        height: 17px;
        position: absolute;
        top: calc(1em - 15.5px);
        left: 0;
    }
    &__screen3 {
        transform: translateY(-1000%);
    }
}

.bottom-static-block[data-screen="1"] {
    -webkit-clip-path: polygon(75% 0, 0% 100%, 100% 100%);
    clip-path: polygon(75% 0, 0% 100%, 100% 100%);
}

.bottom-static-block[data-screen="2"] {
    height: 117px;
    @include size(6.5);
    padding: 2% 10% 2% 10%;
    -webkit-clip-path: polygon(20% 0%, 90% 10%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 90% 10%, 100% 100%, 0% 100%);
    .bottom-static-block__screen2 {
        transform: translateY(0);
    }
}

.bottom-static-block[data-screen="3"] {
    height: 117px;
    @include size(7.5);
    padding: calc(47px - 1.55em) 5% 37px 5%;
    -webkit-clip-path: polygon(24% 9%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(24% 9%, 80% 0%, 100% 100%, 0% 100%);
    .bottom-static-block__screen3 {
        transform: translateY(0);
    }
}

.bottom-static-block[data-screen="4"] {
    visibility: hidden;
    opacity: 0;
}

.bottom-static-block[data-screen="5"] {
    @include size(7.5);
    -webkit-clip-path: polygon(67% 0, 0% 100%, 100% 100%);
    clip-path: polygon(67% 0, 0% 100%, 100% 100%);
}

.bottom-static-block[data-screen="6"],
.bottom-static-block[data-screen="7"],
.bottom-static-block[data-screen="8"],
.bottom-static-block[data-screen="9"],
.bottom-static-block[data-screen="10"],
.bottom-static-block[data-screen="11"] {
    transition: 0;
    visibility: hidden;
    opacity: 0;
}

[data-active="true"] {
    transform: translate(0);
    opacity: 1;
    z-index: 5;
}

[data-active="false"] {
    transform: translate(0, -100%);
    pointer-events: none;
    opacity: 0;
}

.screen2 {
    transform: translateY(-100%);
}

.screen3 {
    transform: translateY(-200%);
}

.screen4 {
    transform: translateY(-300%);
}

.screen5 {
    transform: translateY(-400%);
}

.screen6 {
    transform: translateY(-500%);
}

.screen7 {
    transform: translateY(-600%);
}

.screen8 {
    transform: translateY(-700%);
}

.screen9 {
    transform: translateY(-800%);
}

.screen10 {
    transform: translateY(-900%);
}

.screen11 {
    transform: translateY(-1000%);
}

.screen1 {
    @include wrapper();
    color: $mc-white;
    transition: var(--standart-transition);
    &__content {
        @include size(5);
        padding-top: 25px;
        padding-bottom: 36px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__subtitle {
        // font-size: $fz-standart;
        // line-height: 1.55em;
        @include line-height-in-em($fz-standart, 28px);
        color: $mc-white;
        margin-top: auto;
    }
    &__title {
        font-size: $fz-large;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: auto;
    }
    &__scroll {
        text-transform: uppercase;
        max-width: 140px;
    }
    &__scroll:before {
        content: url(../images/common/white-arrow-long.svg);
        position: absolute;
        height: 40px;
        top: calc(50% - 20px);
        left: 0;
        animation: bounce-top 2s infinite ease-in;
    }
    &__adress,
    &__scroll {
        font-size: $fz-small;
        line-height: 1.8em;
        position: relative;
        padding-left: 35px;
    }
    &__adress {
        margin-top: auto;
    }
    &__adress a {
        color: inherit;
        text-decoration: none;
    }
    &__adress:before {
        content: url(../images/common/addr-marker.svg);
        position: absolute;
        left: 0;
        width: 17px;
        height: 25px;
        top: calc(50% - 12.5px);
    }
}

.screen2 {
    background: $mc-green;
    height: 100vh;
    width: 50%;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 140px;
    justify-content: center;
    transition: var(--standart-transition);
    &__content {}
    &__text p:nth-child(2) {
        margin-top: 1.55em;
        font-weight: bold;
    }
    &__text {
        margin-top: 15px;
    }
}

.screen3 {
    height: 100vh;
    width: 100vw;
    margin-right: auto;
    margin-left: 0;
    display: flex;
    padding-left: $offset-desktop;
    padding-bottom: 75px;
    justify-content: center;
    transition: var(--standart-transition);
    &__content {
        height: 100vh;
        width: 100%;
    }
    &__slide {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }
    &__image {
        width: calc(100% / 12 * 7);
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.25);
    }
    &__image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__text-block {
        width: calc(100% / 12 * 5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5%;
    }
    &__text {
        margin-top: 15px;
    }
    .slick-initialized .slick-slide {
        display: flex !important;
    }
    .all {
        color: $mc-green;
    }
}

.screen3-arrow-container {
    display: flex;
    justify-content: space-around;
}

.screen4 {
    height: 100vh;
    width: 100vw;
    background-color: brown;
    position: relative;
    transition: var(--standart-transition);
    &__slide {
        width: 100%;
        height: 100%;
    }
    &__slide>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__info-block {
        position: absolute;
        bottom: 40px;
        left: calc((100vw - 1200px) / 2);
        right: calc((100vw - 1200px) / 2);
        display: flex;
        max-width: 1200px;
        width: 100%;
        padding: 0 190px 0 $offset-desktop;
        z-index: 10;
    }
    .infra-link {
        color: $mc-yellow;
        display: flex;
        align-items: center;
        text-decoration: underline;
    }
    .infra-link:before {
        content: url(../images/common/infra-marker.svg);
        margin-right: 10px;
    }
    .count-block {
        margin-left: auto;
        margin-right: 47px;
    }
    .slick-track {
        height: 100vh;
    }
}

.screen5 {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    position: relative;
    transition: all var(--standart-transition);
    z-index: -1;
    &__title {
        margin-bottom: 145px;
        width: calc(100% / 12 * 3);
        margin-right: 16%;
        margin-left: auto;
        padding-top: 35%;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.screen6 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    &[data-active='true'] &__text-block {
        animation: screen6-clip 1s 1 linear;
    }
    &__title {
        @include size(12);
        @include shift-padding-left(6);
        @include shift-right(1);
        margin-left: auto;
        position: relative;
        top: 1.55em;
        z-index: 5;
    }
    &__content {
        @include wrapper();
        padding-top: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    &__image {
        @include size(4.4);
        object-fit: cover;
        display: flex;
        align-items: flex-end;
        position: relative;
        right: 5%;
        top: 30px;
    }
    &__image img {
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.25);
    }
    &__text-block {
        background-color: $mc-yellow;
        padding-top: 115px;
        padding-bottom: 105px;
        @include size(6.45);
        @include shift-left(0.9);
        @include shift-padding-left(1.5);
        @include shift-padding-right(1);
        -webkit-clip-path: polygon(26% 0, 100% 21%, 82% 95%, 18% 100%, 0 49%);
        clip-path: polygon(26% 0, 100% 21%, 82% 95%, 18% 100%, 0 49%);
    }
    .screen6__text-block p:nth-child(2) {
        margin-top: 1.55em;
    }
}


/*screen6 clip-path-animation*/

@keyframes screen6-clip {
    from {
        -webkit-clip-path: polygon(25% 19%, 100% 0, 82% 95%, 18% 100%, 0 49%);
        clip-path: polygon(25% 19%, 100% 0, 82% 95%, 18% 100%, 0 49%);
    }
}

.screen7 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    &__legend-title {
        width: calc(100% / 12 * 4 + #{$fields*2});
        background-color: $mc-white;
        font-size: 24px;
        line-height: 1.6em;
        color: $mc-green;
        font-weight: bold;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: $fields;
        padding-right: 40px;
        max-width: 425px;
        position: relative;
        cursor: pointer;
        max-height: calc(34px + 1.66em);
        overflow: hidden;
    }
    &__legend-title:after {
        content: url(../images/common/arrow-vertical.svg);
        position: absolute;
        width: 10px;
        right: 36px;
        height: 35px;
        top: calc(2em - 30px);
        transition: var(--standart-transition);
    }
    &__legend-title:hover:after {
        transform: rotate(180deg);
    }
    &__legend-title:hover {
        animation: max-height1 1s 1 ease-in;
        max-height: none;
    }
    &__legend {
        margin-top: 15px;
    }
    &__legend>li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__legend-text {
        font-size: $fz-small;
        color: $text-color;
        font-weight: normal;
        line-height: 2em;
        padding-left: 25px;
    }
    &__legend-icon {
        display: flex;
        align-items: center;
    }
    &__legend-icon svg {
        width: 30px;
        height: 30px;
    }
    &__legend-eye {
        margin-left: auto;
    }
    &__legend-eye svg {
        fill: #8A8A8A;
        width: 22px;
        height: 12px;
    }
    #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__legend>li.selected &__legend-text {
        color: $mc-gray;
    }
    &__legend>li.selected &__legend-eye svg {
        fill: $mc-gray;
    }
}

@keyframes max-height1 {
    from {
        max-height: calc(34px + 1.66em);
    }
    to {
        max-height: 2000px;
    }
}

.screen8 {
    width: 100vw;
    height: 100vh;
}

.screen9 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        @include wrapper();
        width: 100%;
    }
    &__plans-slider-wrapper {
        @include size(9.1);
        @include shift-left(1);
        @include shift-padding-left(1);
        padding-right: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
        background: $mc-white;
        display: flex;
        flex-wrap: wrap;
    }
    &__title {
        color: $mc-gray;
    }
    &__text {
        margin-top: 10px;
    }
    &__static-text,
    &__slider {
        width: 50%;
        max-width: 400px;
    }
    &__slide img {
        margin-top: 10px;
    }
    .count-block.text {
        color: $mc-gray;
    }
    g.arrow-border {
        stroke: $mc-green;
    }
    .flat-title {
        color: #DED9D9;
        display: block;
        margin-left: auto;
        text-align: right;
    }
    &__static-text {
        display: flex;
        flex-direction: column;
        padding-right: 40px;
    }
    &__nav-block {
        display: flex;
        margin-top: auto;
        justify-content: space-between;
    }
    .order-call {
        margin-top: 40px;
    }
}

.order-call {
    color: $mc-yellow;
    &:before {
        content: url(../images/common/tel-icon-yellow.svg);
        margin-right: 6px;
    }
}

.screen10 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #F8B400 0%, rgba(248, 180, 0, 0.5) 100%), url(../images/screen10/bg.png) bottom no-repeat;
    background-size: cover;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    &__content {
        @include wrapper();
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        padding-bottom: 53px;
    }
    &__logo {
        @include size(4);
        @include col();
        @include shift-padding-right(1.5);
    }
    &__developer-description {
        @include size(8);
        @include col-padding();
        @include shift-padding-right(1.5);
    }
    &__statistic-wrapper {
        @include size(8);
        @include col();
        @include shift-padding-right(1.5);
        @include shift-left(4);
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
    }
    .statistic-item,
    .devloper-link {
        @include size(6);
    }
    .devloper-link,
    .statistic-item:nth-child(3) {
        margin-top: 25px;
    }
    .comfort-life-logo-fill {
        fill: $mc-green;
    }
    .devloper-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $mc-gray;
        align-items: flex-end;
    }
    .devloper-link svg {
        width: 70px;
        height: 70px;
        fill: $mc-green;
    }
    .devloper-link g.arrow {
        fill: $mc-white;
        stroke: $mc-white;
        transform: rotate(180deg) translateX(-7%);
        transform-origin: center;
    }
    .devloper-link g.arrow-border {
        stroke: $mc-green;
    }
    .arrow-block-std {
        margin-left: auto;
        margin-right: 25px;
    }
    g.arrow-border {
        stroke: $mc-green;
    }
    .document-slider {
        position: relative;
    }
    .document-slider .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 39%);
        z-index: 100;
        pointer-events: none;
    }
}

.statistic-item {
    &__digit {
        @include line-height-in-em(60px, 56px);
        color: $mc-green;
        font-weight: bold;
    }
    &__description {
        font-size: $fz-standart;
        color: $mc-gray;
        max-width: 70%;
        margin-top: 5px;
    }
}

.documents-wrapper {
    background: $mc-white;
    padding-top: 50px;
    padding-bottom: 25px;
    @include size(10.3);
    @include shift-padding-left(0.9);
    padding-right: 30px;
    margin-top: 170px;
    &__text {
        margin-top: 10px;
        margin-bottom: 20px;
        column-count: 2;
    }
    .document-item {
        width: calc(33% - 25px);
        // box-shadow: 0px 20px 35px rgba(76, 76, 78, 0.2);
        box-shadow: 10px 0px 22px rgba(76, 76, 78, 0.2);
        padding: 35px 20px 20px 30px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    &__download {
        @include line-height-in-em(16px, 28px);
        color: $mc-yellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
    }
    &__download svg {
        height: 21px;
    }
    &__name {
        line-height: 28px;
        margin-top: 50px;
    }
    &__icon {
        display: flex;
        align-items: center;
    }
    &__icon svg {
        width: 64px;
        height: 64px;
    }
    &__date {
        font-size: 16px;
        margin-left: 30px;
    }
}

.screen11 {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__content {
        width: 100%;
        @include wrapper();
        display: flex;
        flex-wrap: wrap;
    }
    &__content a {
        text-decoration: none;
    }
    .contact-padding {
        padding-left: 50px;
    }
    &__contact-block {
        @include size(6);
        padding-top: 70px;
        padding-bottom: 200px;
        @include shift-padding-left(0.9);
    }
    &__title {
        position: relative;
        line-height: 40px;
        margin-top: 30px;
    }
    &__title::before {
        content: url(../images/common/addr-marker.svg);
        position: absolute;
        top: calc((40px - 25.2px) / 2 / 2);
        left: 0;
        width: 17.3px;
        height: 25.2px;
    }
    &__title-green-marker::before {
        content: url(../images/common/addr-marker-green.svg);
    }
    .scheldule-title {
        margin-top: 10px;
    }
    .text {
        line-height: 28px;
    }
    .sales-tel-title {
        margin-top: 20px;
    }
    &__map-block {
        @include size(6);
        margin-left: auto;
    }
    &__subtitle {
        font-weight: bold;
        @include line-height-in-em(26px, 56px);
        color: $mc-gray;
    }
    &__google-map-link {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    &__google-map-link svg {
        margin-left: 16px;
    }
    &__google-map-link g.arrow-border {
        fill: $mc-yellow;
    }
    &__google-map-link g.arrow {
        stroke: $mc-green;
    }
}

.footer-block {
    width: 100vw;
    height: 325px;
    padding-top: 152px;
    margin-top: -160px;
    background: $mc-green;
    transition: var(--standart-transition);
    -webkit-clip-path: polygon(85% 0, 100% 18%, 100% 100%, 0 100%, 0 29%);
    clip-path: polygon(85% 0, 100% 18%, 100% 100%, 0 100%, 0 29%);
    display: flex;
    flex-wrap: wrap;
    &__non-static>svg {
        width: 120px;
        height: 82px;
        fill: $mc-white;
    }
    &__non-static {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 27px;
        padding-left: calc((100vw - 1200px + 90px) / 2);
        padding-right: calc((100vw - 1200px + 90px) / 2);
    }
    &__non-static-link {
        @include shift(1.2);
    }
    &__non-static-link:before {
        content: url(../images/common/tel-icon-yellow.svg);
        margin-right: 5px;
    }
    &__non-static-link,
    &__non-static-link>a {
        text-decoration: none;
        color: $mc-white;
    }
    .social-link {
        margin-right: 40px;
        color: $mc-white;
    }
    &__lang-block {
        margin-left: auto;
    }
    &__lang-block a {
        opacity: 0.5;
    }
    &__lang-block a:first-child {
        margin-right: 20px;
    }
    &__lang-block a.active-lang {
        opacity: 1;
        text-decoration: underline;
        text-decoration-color: $mc-yellow;
    }
    &__static {
        height: 62px;
        width: 100%;
        font-size: 16px;
        padding-left: calc((100vw - 1200px + 90px) / 2);
        padding-right: calc((100vw - 1200px + 90px) / 2);
        background: #2C786C;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $mc-white;
    }
}

.develop-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $mc-white;
}

.develop-link img {
    width: 70px;
    height: 28px;
    margin-left: 21px;
}

.footer-block.visible {
    -webkit-clip-path: polygon(19% 0, 100% 37%, 100% 100%, 0 100%, 0 41%);
    clip-path: polygon(19% 0, 100% 37%, 100% 100%, 0 100%, 0 41%);
}


/*Стилизация рендера svg*/

.section-stroke {
    fill: transparent;
    stroke-width: 0;
    cursor: pointer;
}

.section-group:hover .section-stroke {
    fill: $mc-yellow;
    opacity: .5;
    stroke-width: 0;
    transition: var(--standart-transition);
}

.section-title {
    fill: $mc-yellow;
}

.section-subtitle {
    fill: $mc-white;
    transform: scaleX(0);
}

.section-short-text {
    fill: #FDFBF9;
    font-size: 0.4em;
    transform: translateY(6px) translateX(0px);
    text-transform: uppercase;
    font-weight: bold;
    pointer-events: none;
}

.section-subtitle-text {
    transform: scaleX(0);
    fill: $mc-gray;
    transform: translate(8%, 9%);
    opacity: 0;
    transition: 0;
}

.section-group:hover .section-subtitle-text {
    opacity: 1;
}

.section-group:hover .section-subtitle {
    fill: $mc-white;
    transform: scaleX(1);
    animation: scaleTo1 .5s 1 ease-in;
}

@keyframes scaleTo1 {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}


/*Стилизация рендера svg end*/


/*стандартный блок номеров слайдов*/

.count-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous {
    transform-origin: center;
}

.next>svg {
    transform: rotate(180deg);
}

.next,
.previous:hover {
    fill: $mc-white;
    stroke: $mc-white;
}

.previous,
.next:hover,
.current,
.all {
    fill: $mc-green;
    stroke: $mc-green;
}

.previous,
.next {
    width: 23px;
    height: 7px;
    cursor: pointer;
}

.separator {
    width: 28px;
    margin: 0 12px;
    display: flex;
    align-items: center;
}


/*стандартный блок номеров слайдов end*/


/*стандартные стрелки*/

.arrow-block-std {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.arrow-next-std {
    height: 60px;
    width: 60px;
}

.arrow-prev-std {
    height: 60px;
    width: 60px;
}

g.arrow-border {
    stroke: $mc-white;
}

g.arrow {
    fill: $mc-yellow;
    stroke: $mc-yellow
}

.arrow:hover g.arrow {
    fill: $mc-green;
    stroke: $mc-green;
}

.arrow {
    transition: all var(--standart-transition);
    cursor: pointer;
}

.arrow:hover g.arrow-border {
    fill: $mc-yellow;
    stroke: $mc-yellow;
}


/*стандартные стрелки END*/


/*Popup and form*/

.popup-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    clip-path: polygon(35% 0, 100% 25%, 81% 96%, 18% 100%, 0 41%);
    width: 680px;
    height: 685px;
    background: $mc-white;
    padding-left: 170px;
    padding-top: 195px;
    padding-right: calc(75px + 56px);
    padding-bottom: 65px;
    .checkbox {
        position: relative;
    }
    .custom-check-box {
        position: absolute;
        width: 10px;
        height: 10px;
        border: 1px solid $mc-yellow;
        border-radius: 50%;
        top: 8px;
        left: 1px;
        pointer-events: none;
    }
    .custom-check-box::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        background: $mc-yellow;
        width: 6px;
        height: 6px;
        opacity: 0;
        pointer-events: none;
    }
    .name-label,
    .telephone-label {
        display: none;
    }
    .common-label {}
    input[type='checkbox'] {
        opacity: 0;
    }
    input[type='checkbox']:checked~.custom-check-box::before {
        opacity: 1;
    }
    .common-select {
        transition: var(--standart-transition);
        opacity: 0;
    }
    input[type='checkbox']:checked~.common-select {
        opacity: 1;
    }
    .time-label {
        margin-left: 10px;
    }
    .common-input::placeholder {
        color: $text-color;
    }
    .text-input,
    .tel-input {
        border: none;
        background: transparent;
    }
    .input-group.tel,
    .input-group.text {
        position: relative;
    }
    .input-group.tel:after,
    .input-group.text:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: red;
    }
}


/*Popup and form END*/