:root {
    --menu-active-color: #F8B400;
    --menu-innactive-color: #FDFBF9;
}

.aside-menu {
    width: 200px;
    position: fixed;
    right: 45px;
    top: 10vh;
    &__item {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 2em;
        text-transform: uppercase;
        margin-top: 10px;
        text-decoration: none;
    }
    &__item-dot {
        width: 30px;
        height: 30px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
    }
    &__item-dot:after {
        content: '';
        position: absolute;
        background: var(--menu-innactive-color);
        width: 4px;
        height: 4px;
        top: calc(50% - 2px);
        left: calc(50% - 2px);
        border-radius: 50%;
    }
    &__item.current {
        color: var(--menu-active-color);
    }
    &__item-text {
        text-decoration: none;
        opacity: 0;
        transition: var(--standart-transition);
    }
    &__item.current &__item-text,
    &__item:hover &__item-text {
        color: var(--menu-active-color);
        opacity: 1;
    }
    &__item.current &__item-dot {
        border: 1px solid var(--menu-active-color);
    }
    &__item.current &__item-dot:after {
        background: var(--menu-active-color);
    }
    &__arrow {
        cursor: pointer;
        width: 30px;
        margin-left: auto;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__arrow-next svg {
        stroke: var(--menu-active-color);
        fill: var(--menu-active-color);
    }
    @include to(1024px) {
        top: 20vh;
    }
    @include to(768px) {
        right: $fields-sm;
    }
}