.screen9 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/screen9/bg.png) top left no-repeat;
    background-size: cover;
    @include to(768px) {
        background-size: 261vh auto;
    }
    &__content {
        @include wrapper();
        width: 100%;
        @include size(12);
        background: $mc-white;
        padding-top: 30px;
        padding-bottom: 35px;
        padding-right: 50px;
        padding-left: 50px;
        position: relative;
    }
    &__plans-slider-wrapper {
        background: $mc-white;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 600px;
    }
    &__title {
        color: $mc-gray;
        margin-bottom: 20px;
    }
    .tabs {
        margin-bottom: 40px;
    }
    &__text {
        margin-top: 10px;
    }
    &__slider {
        width: 35%;
        // max-width: 400px;
    }
    &__slide img {
        // margin-top: 10px;
    }
    .count-block.text {
        color: $mc-gray;
    }
    g.arrow-border {
        stroke: $mc-green;
    }
    .flat-title {
        color: #DED9D9;
        display: block;
        margin-left: auto;
        text-align: right;
    }
    &__slider {
        width: 50%;
        padding-right: 30px;
    }
    &__static-text {
        display: flex;
        flex-wrap: wrap;
        // padding-right: 40px;
        // position: absolute;
        padding-bottom: 35px;
        bottom: 0;
        right: 0;
        width: 50%;
        padding-left: 40px;
    }
    &__static-text-inner {
        column-count: 2;
        max-height: calc(4.8em + 10px);
        column-gap: 15px;
        color: $mc-gray;
    }
    &__nav-block {
        display: flex;
        margin-top: auto;
        justify-content: space-between;
        margin-top: 10px;
    }
    .order-call {
        margin-top: 10px;
        display: inline-block;
    }
    .screen9__static-text-inner-link {
        text-decoration: none;
        color: $mc-gray;
    }
    .screen9__static-text-inner-link>div:first-child {
        color: $mc-gray-light;
    }
    .slider-2-slide {
        display: flex;
        flex-wrap: wrap;
        padding: 11px 32px 24px 40px;
    }
    .slider-2-slide__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: $mc-gray;
        width: 100%;
        margin-bottom: 10px;
    }
    .slider-2-slide__room-description {
        width: 100%;
        column-count: 2;
        display: flex;
        flex-wrap: wrap;
    }
    .slider-2-slide__room-description>li {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 14px;
        line-height: 2.2em;
        height: 2.2em;
        width: 50%;
        padding-right: 12px;
    }
    .room-description-title {
        color: $mc-gray-light;
    }
    .room-description-value {
        color: $mc-gray;
        min-width: 25%;
    }
    &__slider-2 {
        width: 50%;
        box-shadow: 0px 8px 20px rgba(76, 76, 78, 0.05);
        // margin-bottom: 20%;
    }
    @include to(960px) {
        &__plans-slider-wrapper {
            max-height: 500px;
        }
    }
    @include to(768px) {
        &__content {
            margin-right: auto;
            margin-left: 20px;
            width: calc(100% - 220px);
        }
        &__plans-slider-wrapper {
            margin-left: 0;
            flex-direction: row;
            max-height: none;
        }
        &__static-text {
            width: 100%;
            padding-right: 0;
            order: 2;
        }
        &__nav-block {
            order: 1;
            width: 60%;
            margin-top: 30px;
            margin-bottom: 40px;
        }
        &__slider-2 {
            box-shadow: none;
        }
        .slider-2-slide {
            padding: 10px 0;
        }
        // &__slider,
        // &__nav-block {
        //     width: 80%;
        // }
        .slider-2-slide__room-description>li {
            width: 100%;
        }
    }
    @include to(480px) {
        // background: url(../images/screen9/bg-tablet.png) bottom no-repeat;
        background: $mc-white;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;
        &__content {
            margin-left: 10px;
            width: calc(100% - 20px);
            margin-right: 10px;
            padding-right: 0;
            padding-left: 0;
            box-shadow: 0px 8px 20px rgba(76, 76, 78, 0.05);
            padding-bottom: 0;
            padding-top: 0;
        }
        &__plans-slider-wrapper {
            margin: 0;
            padding: 20px 15px 25px 15px;
            width: 100%;
            padding: 0;
        }
        &__title {
            color: $mc-green;
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
        }
        &__nav-block,
        &__slider {
            width: 100%;
        }
        &__nav-block {
            flex-direction: row-reverse;
            display: none;
        }
        &__slider {
            padding: 0 10px;
        }
        &__text {
            display: none;
        }
        #plans {
            padding-left: 10px;
        }
        .flat-title {
            font-size: 12px;
        }
        g.arrow-border {
            stroke: $mc-yellow;
        }
        .tabs {
            margin-bottom: 20px;
        }
        &__slider-2 {
            width: 100%;
        }
        .slider-2-slide__room-description>li:nth-child(n+4) {
            display: none;
        }
        .popup-form-js {
            display: none;
        }
        .slider-2-slide {
            padding: 10px;
        }
        &__mobile-detail-button {
            color: $mc-white;
            background-color: $mc-gray-light;
            border: none;
            font-size: 12px;
            line-height: 28px;
            padding: 5px 0;
            font-family: $default-font;
            text-transform: uppercase;
            width: 205px;
            margin: 15px auto 0 auto;
        }
        .slider-2-slide__title {
            font-size: 18px;
        }
    }
    @include from(481px) {
        &__mobile-detail-button {
            display: none;
        }
    }
}

.tabs {
    --tabs-height: 50px;
    display: flex;
    flex-wrap: wrap;
    height: var(--tabs-height);
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(76, 76, 78, 0.05);
    padding-left: 20px;
    align-items: center;
    .tab {
        font-weight: bold;
        font-size: 12px;
        line-height: 28px;
        cursor: pointer;
        margin-right: 25px;
        display: flex;
        height: var(--tabs-height);
        align-items: center;
        position: relative;
    }
    .tab.active .tab-title {
        color: $mc-orange;
    }
    .tab-title {
        color: $mc-gray;
        text-transform: uppercase;
    }
    .tab .tab-links {
        transform-origin: left;
        transform: scaleX(0);
        width: 0;
        visibility: hidden;
        z-index: 1000;
    }
    .tab.active .tab-links {
        transition: .5s;
        width: auto;
        visibility: visible;
        transform: scaleX(1);
    }
    .tab-links li {
        display: inline-block;
        margin-left: 25px;
        opacity: 0.7;
        color: $mc-gray-light;
        font-weight: normal;
    }
    .tab-links li.active {
        opacity: 1;
        color: $mc-gray;
    }
    @include to(768px) {
        overflow: visible;
        justify-content: space-around;
        .tab-links {
            position: absolute;
            top: 98%;
            display: flex;
            flex-direction: column;
        }
        .tab-links li {
            margin-left: 0;
            padding: 5px 10px;
            background: #fff;
            opacity: 1;
        }
        .tab.active:not(.tablet-active) .tab-links {
            display: none;
        }
    }
    @include to(480px) {
        padding-left: 10px;
        .tab {
            font-size: 9px;
            margin-right: 15px;
        }
    }
}

.screen9-mobile-popup {
    display: flex;
    flex-direction: column;
    padding: 35px 25px;
    height: auto;
    .slider-2-slide__room-description>li:nth-child(n+4) {
        display: flex;
    }
    .slider-2-slide__room-description>li {
        width: 50%;
        font-size: 10px;
        line-height: 2em;
        padding-right: 15px;
    }
    .order-call {
        display: inline-block;
        margin-right: auto;
    }
    hr {
        border: 0.5px solid #E5E5E5;
        width: calc(100%);
    }
    .screen9__static-text-inner-link {
        font-size: 16px;
        line-height: 26px;
    }
    .screen9__static-text-inner-link {
        margin-right: auto;
        /* width: 100%; */
        display: flex;
        width: 100%;
        justify-content: start;
    }
    .screen9__static-text-inner-link>div:first-child {
        color: $mc-gray;
    }
    .screen9__static-text-inner-link>div {
        margin-right: 10px;
        color: $mc-gray;
    }
    .mfp-close {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 50px;
        font-weight: lighter;
    }
}

.mfp-container {
    overflow-y: scroll;
    overflow-x: hidden;
}